











.mainbody{

    display: flex;
    justify-content: space-evenly;
}


/* leftbarpart */

.leftbar{
    position: relative;
    color: white;
    width:370px;
    height: 230px;
    background-color: skyblue;
    background-image: url();
    padding-left: 33px;
    padding-right: 33px;
    margin-left: 55px;
    border-radius: 5%;
    background: linear-gradient(to right,#6C63FF,#61A2F8);
    background-size: contain;
    margin-right: 20px;

    
    
}

.leftbar::before{
    position: absolute;
    content: '';
    background-image: url(/AS2/images/leftbackgroundimage.jpg);
    background-size: cover;
    top: 0;bottom: 0;left: 0; right: 0;
    z-index: 1;
    inset: 0;
    opacity: 0.12;

}

@media(max-width:768px){
    .leftbar{
        width: 90%;
        height: auto;
        margin: 10px auto;
    }

    .mainbody{
        flex-direction: column;
        align-items: center;
    }
}


.leftbar h3{
    font: normal bold 24px Arial;
    margin-top: 50px;

}


.leftbar p{
    font-size: 10px;
}

.leftbar button{
    position: relative;
    z-index: 2;
    width: 130px;
    height: 40px;
    border-radius: 5%;
    border: 1px solid white;
    background: linear-gradient(to right,#6C63FF,#61A2F8);
    color: white;
    margin: 23px 0 55px;
    z-index: 2;
}



.leftbar button:hover{
    width: 150px;
    height: 55px;
    transition: 0.4s;
    font-size: 16px;
    font-weight: bold;
    background: black;
    cursor: pointer;
}


/* rightbar part */

.rightbar{
    position: relative;
    color: white;
    width:370px;
    height: 230px;
    background-color: skyblue;
    background-image: url();
    padding-left: 33px;
    padding-right: 33px;
    border-radius: 5%;
    background: linear-gradient(to right, #30C4F5, #47E2C2);
    background-size: contain;
    margin-right: 55px;
    
}

.rightbar::before{
    position: absolute;
    content: '';
    inset: 0;
    z-index: 1;
    background-size: cover;
    top: 0;bottom: 0;left: 0; right: 0;
    background-image: url(/AS2/images/rightbackgroundimage.jpg);
    opacity: 0.12;
}


@media(max-width:768px){
    .rightbar{
        width: 90%;
        height: auto;
        margin: 10px auto;
    }
    .mainbody{
        flex-direction: column;
        align-items: center;
    }
}


.rightbar h3{
    font: normal bold 24px Arial;
    margin-top: 50px;
}

.rightbar p{
    font-size: 10px;
}

.rightbar button{
    position: absolute;
    z-index:2;
    width: 130px;
    height: 40px;
    border-radius: 5%;
    border: 1px solid white;
    background: linear-gradient(to right, #30C4F5, #47E2C2);
    /* opacity: ; */
    color: white;
    margin: 23px 0 55px;
}

.rightbar button:hover{
    width: 150px;
    height: 55px;
    transition: 0.4s;
    font-size: 16px;
    font-weight: bold;
    background: black;
    cursor: pointer;
}
